@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    outline: 0px solid lightcoral;
}

body {
    background-color: #d9e0e0;
    /*background-color: #dce0d9;*/
    font-family: "Montserrat", sans-serif;
}

.header {
    padding: 20px 40px;
}

img {
    height: 100%;
    width: 100%;
}

.page-index main {
    margin-bottom: 40px;
    padding: 0px 40px;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
}

.nav {
    margin: auto;
    width: 70%;
    min-width: 550px;
    height: 80px;
    padding: 5px 10px;
    background-color: #fbf6ef;
    display: flex;
    justify-content: space-between;
    border-radius: 75px 75px;
    border: 1px solid lightgrey;

}

.nav__item {
    width: 30%;
    height: 100%;
}

.nav__link,
.section__link,
.card__link,
.card__button,
.form__button {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

.nav__item--brand {
    display: flex;
    align-items: center;
}

.nav__brand-logo {
    height: 60px;
    border-radius: 50%;
    margin-right: 5px;
}

.nav__brand-name {
    font-family: "Orbitron", sans-serif;
}

.nav__item--search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link--search {
    font-weight: 600;
}

.nav__link--search:hover,
.nav__link--index:hover {
    color: #e64e38;
    font-weight: 700;
}

.nav__link--search:active,
.nav__link--index:active {
    color: #ff573d;
    font-weight: 900;
}

.nav__item--cont {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav__item--auth,
.section__button,
.card__button,
.form__button {
    position: relative;
    width: fit-content;
    margin-bottom: 5px;
    border-radius: 75px 75px;
    background-color: #e64e38;
    text-shadow: 2px 2px 0px #a11d12;
    box-shadow: 3px 4px 0px #a11d12;
}

.nav__item--auth {
    margin-right: 13px;
}

.nav__link--auth,
.section__link,
.card__link {
    display: block;
    padding: 5px 15px;
    color: white;
    border-radius: 75px 75px;
}

.nav__item--auth:hover,
.section__item:hover,
.section__link:hover,
.card__button:hover,
.form__button:hover {
    background-color: #ff573d;
}

.nav__item--auth:active,
.section__button:active,
.section__link:active,
.card__button:active,
.form__button:active {
    top: 4px;
    left: 3px;
    text-shadow: none;
    box-shadow: none;
}

.section {
    height: 100%;
    min-width: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fbf6ef;
    border-radius: 20px;
    border: 1px solid lightgrey;

}

.section__table {
    display: flex;
    flex-direction: column;
}

.section__image img {
    border-radius: 10px;
}

.section__image {
    width: 100%;
}

.section__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}


.section__header,
.section__image,
.section__body,
.section__footer {
    margin-bottom: 20px;
}

.section__table {
    display: flex;
    font-size: 1.2rem;
}

.table__container--spec {
    display: flex;
    justify-content: center;
}

.table__divider {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.table__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3px auto;
}

.table__row--spec {
    width: 100%;
    flex-direction: column;
}

.table__col {
    width: 100%;
}

.table__col--key {
    margin-left: auto;
    font-weight: 500;
}

.table__col--value {
    margin-right: auto;
}

.table__col--spec {
    width: 100%;
    margin-bottom: 10px;
}

.table__col--key.table__col--spec {
    margin-left: 20px;
}

.footer-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.section__footer {
    display: flex;
    justify-content: center;
}

.section__link {
    color: white;
}

/* authorisation.html */

.page-authorisation main,
.page-registration main,
.page-search main {
    height: 89vh;
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 5%;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
    background-color: #fbf6ef;
    border-radius: 20px;
    border: 1px solid lightgrey;
}

.card__header,
.card__break,
.card__footer-info {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.card__input-group {
    position: relative;
    display: flex;
    justify-content: center;
}

.input-group__input {
    width: 95%;
    padding: 5px 24px;
    font-size: 1.2rem;
    line-height: 2.5rem;
    background-color: #fbf6ef;
    border: 1px solid gray;
    border-radius: 75px 75px;
}

.input-group__input--email,
.page-registration .input-group__input--password {
    margin-bottom: 30px;
}

.input-group__input::placeholder {
    opacity: 0;
  }

.input-group__label {
    padding: 0px 5px;
    position: absolute;
    top: 19px;
    left: 35px;
    z-index: 1;
    color: black;
    transition: 0.2s ease;
}

.input-group__input:focus,
.input-group__label:focus {
    border: 2px solid black;
}

.input-group__input:focus + .input-group__label,
.input-group__input:not(:placeholder-shown) + .input-group__label {
    font-weight: 600;
    transform: translate(0px, -30px);
    background-color: #fbf6ef;
}

.input-group--checbox {
    display: flex;
    justify-content: center ;
    margin: 20px;
    align-items: center;
}

.input-group__input--checkbox {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.input-group__label--checkbox label {
    position: static;
    font-weight: 400;
}

.card__button-cont,
.form__button-cont {
    display: flex;
    justify-content: center;
}

.card__body .card__button,
.form__button {
    color: white;
    padding: 5px 15px;
}

.card__body {
    margin-bottom: 40px ;
}

.card__break {
    margin-bottom: 28px;
}

.card__text {
    position: relative;
}

.card__text::before,
.card__text::after {
    content: '';
    position: absolute;
    border-top: 2px solid black;
    background: black;
    width: 36%;
}
 
.card__text::before {
    top: 50%;
    left: 10px;
}

.card__text::after {
    top: 50%;
    right: 10px;
}

.card__button,
.card__link {
    font-size: 1.5rem;
    margin: 0px auto 10px auto;
}

/* search.html */

.form-container {
    width: 80%;
    height: fit-content;
    margin-top: 4%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fbf6ef;
    border-radius: 20px;
    border: 1px solid lightgrey;
}

.form__stack {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form__part {
    width: 45%;
}

.form__part--fields .form__input-group {
    width: 100%;
}

.input_group__range-cont {
    width: 45%;
}

.form__input-group--range {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-group__select,
.input-group__number {
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid blagck;
}

.page-search .input-group__label {
    all: inherit;
    margin-bottom: 3px;
    margin-left: 15px;
}

.form__part--horizontal .form__input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group__label label {
    font-weight: 500;
}

.form-title-cont,
.form-subtitle-cont,
.form__part-name-cont {
    margin-bottom: 20px;
    text-align: center;
}

.form-title,
.form-subtitle,
.form__part-name {
font-size: 2rem;
font-weight: 500;
}

.form-subtitle, 
.form__part-name {
    font-size: 1.5rem;
}

.form__button-cont .form__button {
    margin: 20px 30px;
}

.form__button--reset {
    background-color: #fbf6ef;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 0px rgb(70, 70, 70);
    box-shadow: 3px 4px 0px rgb(70, 70, 70);
}

.form__button--reset:hover {
    background-color: white;
}

/* footer */

.footer {
    padding: 30px 0;
    background-color: #427aa1;
    border-top: 5px solid #376281;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.footer__item {
    width: 30%;
    text-align: center;
}

.footer__link {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 1rem;
}


    

/* @media */

@media screen and (max-width: 1235px) {
    .nav {
        width: 100%;
    }
}

@media screen and (max-width: 938px) {
    .nav {
        height: 60px;
    }

    .nav__brand-logo {
        height: 45px;
    }

    .nav__item {
        width: 30%;
    }

    .nav__link,
    .nav__brand-name {
        font-size: 1.2rem;
    }
}